<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ADMIN PAGE</title>
    <!-- Boxicon link -->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- icon page -->
    <link
      rel="icon"
      href="https://file.hstatic.net/1000026716/file/favicon_0db2583fad1443e482491c7db08765e6.png"
      type="image/x-icon"
    />
    <!-- css link -->
    <link th:href="@{/css/seller_style.css}" rel="stylesheet" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>

    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="sidebar close">
      <div class="logo-details">
        <i class="bx bx-laptop"></i>
        <span class="logo_name">GEARVN</span>
      </div>
      <ul class="nav-links">
        <li>
          <a th:href="@{/seller}">
            <i class="bx bx-grid-alt"></i>
            <span class="link_name">Dashboard</span>
          </a>
        </li>
        <li>
          <div class="iocn-link">
            <a href="#">
              <i class="bx bxs-box"></i>
              <span class="link_name">Products</span>
            </a>
            <i class="bx bxs-chevron-down arrow"></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">Products</a></li>
            <li><a th:href="@{/seller/menu_add}">Create product</a></li>
            <li>
              <a th:href="@{/seller/menu_list_product}">Product management</a>
            </li>
          </ul>
        </li>
        <li>
          <a th:href="@{/seller/order}">
            <i class="bx bxs-cart-alt"></i>
            <span class="link_name">Orders</span>
          </a>
          <ul class="sub-menu blank">
            <li>
              <a class="link_name" th:href="@{/seller/order}">Orders</a>
            </li>
          </ul>
        </li>
        <li>
          <a th:href="@{/seller/customer}">
            <i class="bx bxs-user"></i>
            <span class="link_name">Customer</span>
          </a>
          <ul class="sub-menu blank">
            <li>
              <a class="link_name" th:href="@{/seller/customer}">Customer</a>
            </li>
          </ul>
        </li>
        <li>
          <a th:href="@{/seller/statistic}">
            <i class="bx bx-pie-chart-alt-2"></i>
            <span class="link_name">Statistic</span>
          </a>
          <ul class="sub-menu blank">
            <li>
              <a class="link_name" th:href="@{/seller/statistic}">Statistic</a>
            </li>
          </ul>
        </li>
        <li>
          <a th:href="@{/seller/setting}">
            <i class="bx bx-cog"></i>
            <span class="link_name">Setting</span>
          </a>
          <ul class="sub-menu blank">
            <li>
              <a class="link_name" th:href="@{/seller/setting}">Setting</a>
            </li>
          </ul>
        </li>
        <li>
          <div class="profile-details">
            <div class="profile-content">
              <!--<img src="image/profile.jpg" alt="profileImg">-->
            </div>
            <div class="name-job">
              <div class="job">Design By</div>
              <div class="profile_name">@GEARVN.COM</div>
            </div>
            <i class="bx bx-log-out"></i>
          </div>
        </li>
      </ul>
    </div>
    <section class="home-section">
      <div class="home-content">
        <i class="bx bx-menu"></i>
        <span class="text">Tạo Laptop</span>
      </div>
      <div class="add_product_section">
        <form
          th:action="@{/seller/menu_add/save-new}"
          th:object="${laptop}"
          enctype="multipart/form-data"
          method="post"
        >
          <div class="row add_product_part">
            <div class="col-5 add_product_info_title">
              <p>1. Thông tin cơ bản</p>
            </div>
            <div class="col-7 add_product_info_input">
              <p>Tên sản phẩm</p>
              <input
                th:field="*{laptopName}"
                type="text"
                placeholder="Tên laptop"
              />

              <p>Mô tả</p>
              <textarea
                th:field="*{description}"
                name=""
                id=""
                cols="45"
                rows="6"
                placeholder="Mô tả"
              ></textarea>
            </div>
          </div>
          <div class="row add_product_part">
            <div class="col-5 add_product_info_title">
              <p>2. Giá tiền</p>
            </div>
            <div class="col-7 add_product_info_input">
              <p>Giá</p>
              <input th:field="*{price}" type="text" placeholder="Price" />
              <p>Khuyến mãi</p>
              <input th:field="*{discount}" type="number" placeholder="%" />
            </div>
          </div>
          <div class="row add_product_part">
            <div class="col-5 add_product_info_title">
              <p>3. Phân loại</p>
            </div>
            <div class="col-7">
              <p>Nhãn hiệu</p>
              <select th:field="*{brand}" name="" id="">
                <option
                  th:each="cpu : ${brandList}"
                  th:value="${cpu}"
                  th:text="${cpu}"
                ></option>
              </select>

              <p>Phân loại</p>
              <select th:field="*{category}" name="" id="">
                <option
                  th:each="cpu : ${categoryList}"
                  th:value="${cpu}"
                  th:text="${cpu}"
                ></option>
              </select>
            </div>
          </div>
          <div class="row add_product_part part_4">
            <div class="add_product_info_title">
              <p>4. Mô tả chi tiết</p>
            </div>
            <div class="add_product_info_input">
              <table>
                <tr>
                  <td>CPU</td>
                  <td>
                    <select th:field="*{cpu}" name="CPU" id="">
                      <option
                        th:each="cpu : ${cpuList}"
                        th:value="${cpu}"
                        th:text="${cpu}"
                      ></option>
                    </select>
                  </td>
                  <td>Card đồ họa</td>
                  <td>
                    <select th:field="*{graphicsCard}" name="VGA" id="">
                      <option
                        th:each="cpu : ${graphicsCardList}"
                        th:value="${cpu}"
                        th:text="${cpu}"
                      ></option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Bộ nhớ RAM</td>
                  <td>
                    <select th:field="*{ram}" name="Ram" id="">
                      <option
                        th:each="ram : ${ramList}"
                        th:value="${ram}"
                        th:text="${ram}"
                      ></option>
                    </select>
                  </td>
                  <td>Ổ cứng SSD</td>
                  <td>
                    <select th:field="*{storageDrive}" name="SSD" id="">
                      <option
                        th:each="ram : ${storageDriveList}"
                        th:value="${ram}"
                        th:text="${ram}"
                      ></option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Màn hình</td>
                  <td>
                    <input
                      th:field="*{screen}"
                      type="text"
                      placeholder="Type of screen"
                      class="reset_padding"
                    />
                  </td>
                  <td>Hệ điều hành</td>
                  <td>
                    <select th:field="*{operatingSystem}" name="OS" id="">
                      <option
                        th:each="ram : ${operatingSystemList}"
                        th:value="${ram}"
                        th:text="${ram}"
                      ></option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>LAN</td>
                  <td>
                    <select th:field="*{lan}" name="LAN" id="">
                      <option
                        th:each="ram : ${lanList}"
                        th:value="${ram}"
                        th:text="${ram}"
                      ></option>
                    </select>
                  </td>
                  <td>Cổng kết nối</td>
                  <td>
                    <input
                      th:field="*{communicationPort}"
                      type="text"
                      placeholder="Type"
                      class="reset_padding"
                      style="margin-bottom: 0px"
                    />
                  </td>
                </tr>
                <tr>
                  <td>Bàn phím</td>
                  <td>
                    <input
                      th:field="*{keyboard}"
                      type="text"
                      placeholder="Type of keyboard"
                      class="reset_padding"
                    />
                  </td>
                  <td>Pin</td>
                  <td>
                    <select th:field="*{battery}" name="Pin" id="">
                      <option
                        th:each="ram : ${batteryList}"
                        th:value="${ram}"
                        th:text="${ram}"
                      ></option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Kích thước</td>
                  <td>
                    <input
                      th:field="*{size}"
                      type="text"
                      placeholder="Size"
                      class="reset_padding"
                    />
                  </td>
                  <td>Trọng lượng</td>
                  <td>
                    <input
                      th:field="*{weight}"
                      type="text"
                      placeholder="KG"
                      class="reset_padding"
                    />
                  </td>
                </tr>
                <tr>
                  <td>Chế độ bảo hành</td>
                  <td>
                    <input th:field="*{insurance}" class="reset_padding" />
                  </td>
                  <td>Số lượng</td>
                  <td>
                    <input
                      th:field="*{quantity}"
                      type="text"
                      placeholder=""
                      class="reset_padding"
                    />
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="row add_product_part">
            <div class="col-5 add_product_info_title">
              <p>5. Media</p>
            </div>
            <div class="col-7 add_product_info_input">
              <p>Thêm hình ảnh</p>
              <input
                type="text"
                th:field="*{thumbnail}"
                placeholder="Image link"
              />
            </div>
          </div>
          <div class="row add_product_part">
            <div class="col-5 add_product_info_title"></div>
            <div class="col-7 add_product_info_input">
              <button type="reset">CANCEL</button>
              <button type="submit">Tạo sản phẩm</button>
            </div>
            <div
              class="alert alert-primary"
              role="alert"
              th:text="${success}"
              th:if="${success}"
            >
              Thêm sản phẩm thành công
            </div>
          </div>
        </form>
      </div>
    </section>
    <script>
      let arrow = document.querySelectorAll(".arrow");
      for (var i = 0; i < arrow.length; i++) {
        arrow[i].addEventListener("click", (e) => {
          let arrowParent = e.target.parentElement.parentElement; //selecting main parent of arrow
          arrowParent.classList.toggle("showMenu");
        });
      }
      let sidebar = document.querySelector(".sidebar");
      let sidebarBtn = document.querySelector(".bx-menu");
      console.log(sidebarBtn);
      sidebarBtn.addEventListener("click", () => {
        sidebar.classList.toggle("close");
      });
    </script>
  </body>
</html>
