:root {
  --primary-color: #ea1c00;
}

* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: white;
}

.header_navigation {
  background: #f1f0f1;
  z-index: 9999;
}

header {
  padding: 10px 0px;
  border-bottom: 1px solid #d4d4d4;
}

.logo__shop {
  width: 100%;
  height: 100%;
}

.logo__shop-link {
  display: inline-block;
}

.logo__shop-link--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search__form {
  display: flex;
}

.search__form input {
  width: 92%;
  border: none;
  padding: 2px 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none;
}

.search__form button {
  width: 34px;
  border: unset;
  background: red;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.action__info-user .col {
  text-align: center;
}

.action__info-user .col a {
  text-decoration: none;
  display: flex;
  color: black;
  font-weight: 400;
  transition: 0.3s;
}

.action__info-user .col a:hover {
  color: red;
}

.action__info-user .col a i {
  font-size: 24px;
  margin-right: 5px;
  position: relative;
}

.action__info-user .col a i .number_product {
  position: absolute;
  top: -4px;
  background: red;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  color: white;
}

.action__contact .action__contact_list {
  list-style: none;
  display: flex;
  margin-bottom: 0px;
  margin-top: 10px;
}

.action__contact_list li {
  border-left: 2px solid var(--primary-color);
  display: flex;
}

.action__contact_list li a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 14px;
  display: flex;
}

.action__contact_list li a i {
  font-size: 20px;
  margin: 0 6px 0 4px;
}

/* DONE HEADER */
.navigation {
  background: #f1f0f1;
}

.navigation .container > .row {
  padding: 8px 8px 8px 0;
}

.navigation .row .col-container {
  border: 1px solid #505050;
  border-radius: 5px;
  text-align: center;
  padding: 4px 0;
  transition: 0.1s;
}

.navigation .row .col-container:hover {
  background: red;
  border: unset;
}

.navigation .row .col-container:hover a {
  color: white;
}

.navigation .row .col-2-container {
  background: #505050;
  border-radius: 5px;
  text-align: center;
  padding: 4px 0;
}

.navigation .row .col-2-container a {
  color: white;
  font-weight: 400;
}

.navigation .row a {
  text-decoration: none;
  font-size: 14px;
  color: black;
  font-weight: 600;
}

.navigation .row a i {
  font-size: 16px;
  margin-right: 4px;
}

/* DONE HEADER NAVIGATION */
.main_content {
}

.main_content .list_menu {
  background: white;
  border-radius: 5px;
  padding: 0;
}

.main_content .list_menu li {
  list-style: none;
  padding: 10px;
  border-radius: 5px;
  transition: 0.4s;
}

.main_content .list_menu li a {
  text-decoration: none;
  color: black;
}

.main_content .list_menu li a i {
  margin-right: 4px;
  font-size: 18px;
  display: flex;
}

.main_content .list_menu li:hover {
  background: var(--primary-color);
}
.main_content .list_menu li:hover a {
  color: white;
}

.banner_image {
}

.banner_image a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slide {
  max-height: 500px;
}

.carousel-item {
  max-height: 500px;
}

.carousel-item img {
  height: 350px;
  object-fit: cover;
}

/* END MAIN CONTENT */

.product_banner .col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__list {
  margin-top: 20px;
}

.product__list .fixed_row {
  margin: 0px;
}

.product__list-heading {
  background: var(--primary-color);
  position: relative;
}

.product__list-heading h4 {
  display: inline-block;
  margin: 0;
  padding: 10px;
  line-height: 100%;
  color: white;
}

.product__list-heading a {
  float: right;
  position: absolute;
  top: 8px;
  right: 0px;
  text-decoration: none;
  color: white;
  display: flex;
}

.product__list-heading a:hover {
  color: brown;
}

.product__list-heading a i {
  font-size: 30px;
}

.product__list_card {
  margin-top: 8px;
}

.product__list_card .row {
  margin-top: 16px;
}

.product_card {
  border: 1px solid #fff;
  box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
  position: relative;
}

.best_seller {
  position: absolute;
  padding: 2px 10px 2px 10px;
  right: 8px;
  top: 6px;
  background: var(--primary-color);
  color: white;
  z-index: 1;
}

.product_card-image {
  height: 80%;
  position: relative;
}

.product_card-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product_card-description {
  height: 20%;
  background: white;
  padding: 8px;
}

.product_card-description p {
  font-weight: 700;
}

.product_card-description-sale--price {
  font-size: 18px;
  font-weight: bold;
  color: var(--primary-color);
  display: inline-block;
}

.product_card-description-sale .discount {
  float: right;
  color: deeppink;
  background: palegoldenrod;
  padding: 5px 5px 5px 5px;
  line-height: 100%;
  border-radius: 50%;
}

.product_detail {
  position: absolute;
  background: none repeat scroll 0 0 rgba(121, 117, 101, 0.8);
  right: 0;
  left: 0;
  text-align: center;
  padding: 8px;
  opacity: 0;
  transition: 0.8s;
}

.product_detail p {
  display: inline-block;
  color: white;
  font-weight: 300;

  font-style: italic;
  margin: 0;
}

.product_detail button {
  border: unset;
  border-radius: 5px;
  margin-left: 4px;
  font-weight: 400;
  font-size: 14px;
  background: black;
  color: white;
}

.product_card:hover .product_detail {
  transform: translateY(-100%);
  opacity: 100;
}

.product_card:hover {
  border: 1px solid yellow;
}

/* END PRODUCT LIST CARD */

footer {
  background-color: black;
  padding: 40px 0 20px 0;
  color: white;
}

footer h4 {
  margin: 10px 0 10px 0;
}

.email_shop a {
  text-decoration: none;
  color: var(--primary-color);
}

.location i {
  color: var(--primary-color);
  font-size: 20px;
}

.email_contact_form {
  display: flex;
}

.email_contact_form input {
  border: none;
  padding: 6px;
  outline: none;
  margin: none;
}

.email_contact_form button {
  border: none;
  outline: none;
  padding: 8px;
  background: var(--primary-color);
  color: white;
}

.contact_link a {
  text-decoration: none;
  color: white;
  transition: 0.4s;
}

.contact_link a:hover {
  color: var(--primary-color);
}

/* DONE FOOTER */

.login_content {
  background: white;
  display: flex;
  align-items: center;
  height: 400px;
}

#login_form {
  width: 300px;
  text-align: center;
}

#login_form .login_form-title {
  padding: 14px;
}
.login_email span,
.login_password span,
.login_surName span,
.login_firstName span,
.login_phone span,
.login_username span {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.login_email,
.login_password,
.login_surName,
.login_firstName,
.login_phone,
.login_username {
  margin-bottom: 18px;
  display: flex;
}

.login_email input,
.login_password input,
.login_surName input,
.login_firstName input,
.login_phone input,
.login_username input {
  width: 100%;

  padding: 6px 12px;
  font-size: 14px;

  color: #555;
  background-color: #fff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  border-left: unset;
}

.login_email input:focus,
.login_password input:focus,
.login_surName input:focus,
.login_firstName input:focus,
.login_phone input:focus,
.login_username input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%),
    0 0 8px rgb(102 175 233 / 60%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

#login_btn {
  border: none;
  outline: none;
  padding: 6px 10px;
  border-radius: 4px;
  background: var(--primary-color);
  color: white;
  margin-bottom: 8px;
}

#login_btn:focus {
  border-color: white;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%),
    0 0 8px rgba(213, 16, 16, 0.6);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgba(198, 12, 15, 0.6);
}

#action_forget_signin a {
  text-decoration: none;
  color: #196cb0;
}

#action_forget_signin a:hover {
  color: var(--primary-color);
}

/* END LOGIN PAGE */
.regist_btn {
  text-decoration: none;
  background: #ea1c00;
  padding: 7px 10px;
  border-radius: 4px;
  color: white;
  border: none;
}

.regist_btn:hover {
  background: #a91b08;
}

.back_btn {
  text-decoration: none;
  background: #cccccc;
  padding: 8px 10px;
  border-radius: 4px;
  color: white;
}

.back_btn:hover {
  color: black;
}
/* END SIGN UP PAGE */

.product__list-heading span {
  float: right;
  position: absolute;
  top: 8px;
  right: 0px;
  text-decoration: none;
  color: white;
  display: flex;
  margin-right: 6px;
}

.product__list-heading select {
  margin-left: 6px;
}

/* END PRODUCT PAGE */
#payment_header {
  height: 65px;
  background: #ffffff;
}
.header_container {
  height: 100%;
}

.header_container .row {
  height: 100%;
}

.icon__shop {
  position: relative;
}

#IMAGE4 {
  width: 47.5236px;
  height: 43px;
  top: 11px;
  left: 0px;
}

.ladi-element {
  position: absolute;
}

.ladi-image {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.ladi-image-background {
  width: 156.959px;
  height: 43px;
  top: 0px;
  left: 0px;
  background-image: url(https://w.ladicdn.com/5bf3dc7edc60303c34e4991f/logo-02-20200903083638.svg);
}
.ladi-image .ladi-image-background {
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  background-attachment: scroll;
  background-origin: content-box;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.link_payment .col {
  display: flex;
  align-items: center;
}

.link_payment a {
  text-decoration: none;
  color: #385376;
  font-weight: 650;
}
/* HEADER PAYMENT */
.payment_banner_background {
  background-image: url("https://w.ladicdn.com/s1440x565/5bf3dc7edc60303c34e4991f/thanh-toan-01-20210809022224.jpg");
  height: 566px;
  background-size: cover;
  background-attachment: scroll;
  background-origin: content-box;
  background-position: center top;
  background-repeat: no-repeat;
}

.payment_banner_background .container {
  position: relative;
}

.payment_banner_character {
  position: absolute;
  width: 700px;
  height: 500px;
  left: 446px;
  top: 28px;
}

.payment_banner_title1 {
  position: absolute;
  width: 510.956px;
  height: 119px;
  top: 109px;
  left: 60px;
}
.payment_banner_title1 img {
  width: 100%;
  height: 100%;
}

.payment_banner_detail {
  position: absolute;
  width: 510px;
  height: 118px;
  top: 240px;
  left: 66px;
}

.payment_banner_detail p {
  color: white;
  font-size: 18px;
}
.payment_banner_button {
  position: absolute;
  width: 244px;
  height: 68px;
  top: 300px;
  left: 66px;
}

.payment_banner_button img {
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.payment_banner_button:hover img {
  scale: 120%;
}

.payment_banner_character img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* END PAYMENT BANNER */
.payment_list {
  background: white;
  padding-bottom: 60px;
}
.payment_list .container {
  padding: 80px 0 80px 0;
}

.payment_list .background_payment {
  background-color: rgb(237, 246, 255);
  border-radius: 16px;
  height: 400px;
  position: relative;
}

.payment_list .background_payment .payment-1 {
  position: absolute;
  width: 386px;
  height: 266px;
  top: -60px;
  left: 30px;
}

.payment_list .background_payment .payment-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.payment_list .background_payment .payment-2 {
  position: absolute;
  width: 386px;
  height: 266px;
  top: -60px;
  left: 470px;
}

.payment_list .background_payment .payment-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.payment_list .background_payment .payment-3 {
  position: absolute;
  width: 386px;
  height: 266px;
  top: -60px;
  right: 30px;
}

.payment_list .background_payment .payment-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.payment_list .background_payment .payment-4 {
  position: absolute;
  width: 386px;
  height: 266px;
  bottom: -120px;
  left: 200px;
}

.payment_list .background_payment .payment-4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.payment_list .background_payment .payment-5 {
  position: absolute;
  width: 386px;
  height: 266px;
  bottom: -120px;
  right: 200px;
}

.payment_list .background_payment .payment-5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.payment-hover {
  cursor: pointer;
}

.payment-hover img {
  transition: 0.4s;
}

.payment-hover:hover img {
  scale: 120%;
}
/* END PAYMENT LIST */
.payment_direct {
  background: #edf6ff;
  padding: 28px 0 28px 0;
}

.payment_direct .title_fixed .col h4 {
  color: #0182ff;
}

.payment_direct .title_fixed .col h1 {
  color: #2d4379;
  font-weight: 700;
}

.explain_paydirect {
  display: flex;
  align-items: end;
  color: #3f73b7;
  font-weight: 600;
}

.showroom_location {
  margin-top: 46px;
}

.showroom_location h5 {
  color: #2d4379;
  font-weight: 700;
}

.showroom_location p {
  color: #475867;
  font-weight: 600;
}

/* END PAYMENT DIRECT */
.payment_momo {
  background: white;
  padding: 50px 0 50px 0;
}
.payment_momo_title {
  display: flex;
  margin-bottom: 30px;
}

.momo_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.momo_icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.payment_momo_title .col-10 h4,
.payment_momo_title .col-10 h1 {
  margin: 0;
}

.payment_momo_title .col-10 h4 {
  color: #0282ff;
}
.payment_momo_title .col-10 h1 {
  color: #2d4379;
}

.payment_momo_step h5 {
  color: #c8297f;
  font-weight: 700;
}

.payment_momo_step p {
  color: #425362;
  font-weight: 500;
  font-size: 17px;
}

.payment_momo_step .result {
  margin-top: 6px;
  color: #143582;
  font-weight: 500;
  font-size: 18px;
}

.line_break {
  width: 186.666px;
  height: 5px;
  background-color: rgb(45, 67, 121);
  margin-top: 60px;
}
/* END PAYMENT MOMO */
.payment_contact {
  background: #0183ff;
  color: white;
  text-align: center;
  padding: 40px;
}

.payment_contact span {
  margin: 0 30px 0 30px;
}
/* END PAYMENT CONTACT */
/* END GUIDE PAYMENT PAGE */
.product_detail_contain {
  background: white;
  padding: 34px 0 34px 0;
}

.product_detail-status-name {
  display: flex;
}

.product_detail-status-name h2 {
  margin: 0;
}

.product_detail-status-name .product_detail-status {
  background: #44b81b;
  line-height: 38px;
  margin-right: 24px;
  border-radius: 4px;
  color: white;
  padding: 2px 8px 2px 8px;
  cursor: pointer;
  text-align: center;
}

.image_product_big {
  width: 400px;
  height: 400px;
}
.image_product_big img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.multiple-items {
  height: 100px;
  display: flex;
  width: 100%;
}

.multiple-items .image-item {
  width: 100%;
  height: 100%;
  margin: 0 4px;
  transition: 0.1s;
}

.image-item.active {
  border: 2px solid #2d9cdb;
}

.multiple-items .image-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product_detail_infoAction {
}

.product_detail_price {
  border: 1px solid black;
  margin-top: 70px;
  padding: 10px;
  background: #f3f3f3;
  border: none;
  border-radius: 10px;
  text-align: center;
}
.product_detail_price p {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}

.product_detail_price .price {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 700;
}
.product_detail_sale {
  border: 1px solid black;
  padding: 10px;
  margin-top: 20px;
}

.product_detail_sale {
  border: 1px solid transparent;
  background: -o-linear-gradient(#ffffff, #ffffff) padding-box,
    -o-linear-gradient(354.82deg, #eb67cb 43.94%, #6285f0 91.72%) border-box;
  background: linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(95.18deg, #eb67cb 43.94%, #6285f0 91.72%) border-box;
  border-radius: 10px;
  padding: 14px;
}

.product_detail_sale .color_special {
  background: -o-linear-gradient(354.82deg, #eb67cb 43.94%, #6285f0 91.72%);
  background: linear-gradient(95.18deg, #eb67cb 43.94%, #6285f0 91.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 20px;
  font-weight: 500;
}

.product_detail_sale p {
  font-weight: 500;
}

.product_detail_buy {
  border: none;
  margin-top: 20px;
  width: 100%;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  transition: 0.4s;
}

.product_detail_buy p {
  margin: 0;
}

.product_detail_buy:hover {
  background: linear-gradient(95.18deg, #eb67cb 43.94%, #6285f0 91.72%);
}

.product_detail_info {
  border: 1px solid #e1e1e1;
  width: 80%;
  border-radius: 10px;
}

.product_detail_info h3 {
  padding: 10px;
  text-align: center;
  font-weight: 600;
}
.product_detail_info table {
  text-align: center;
}
.product_detail_info table td:first-child {
  width: 30%;
  color: #143582;
  font-weight: 700;
}

.product_detail_info table td:last-child {
  color: #333;
}
.background_tr {
  background: #f3f3f3;
  margin: 0;
}

.product_detail_description {
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  padding: 10px;
}

.product_detail_description h3 {
  color: #363636;
  font-weight: 500;
}

.product_detail_description h2 {
  color: #143582;
}

.product_detail_description-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* END PRODUCT DETAIL PAGE */

.installment_header {
  padding: 20px 0px 20px 0px;
}

.installment_header .installment_icon {
  width: 152px;
  height: 42px;
  display: inline-block;
}

.installment_header .installment_icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.installment_header .col {
  display: flex;
  align-items: center;
}

.installment_header .col a {
  text-decoration: none;
  color: rgb(5, 34, 74);
  font-weight: 700;
  transition: 0.3s;
  text-align: center;
}

.installment_header .col a:hover {
  color: var(--primary-color);
}
.installment_header .col p {
  margin: 0;
  padding: 8px 14px;
  border: 2px solid var(--primary-color);
  border-radius: 30px;
  text-align: center;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 14px;
  transition: 0.3s;
}

.installment_header .col p:hover {
  background: var(--primary-color);
  color: white;
  cursor: pointer;
}
/* END HEADER INSTALLMENT */
.installment_banner {
  background: #ed2f2c;
  padding: 30px 0;
}

.installment_banner .banner_title {
  color: white;
}

.installment_banner .banner_title h1 {
  font-size: 56px;
  font-weight: bold;
}

.installment_banner .banner_action a {
  display: inline-block;
  width: 174px;
  height: 64px;
}

.installment_banner .banner_action a img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.installment_banner .banner_action a:last-child {
  margin-top: 30px;
}
.installment_banner .col-7 .col-7-img-container {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.installment_banner .col-7 .col-7-img-container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.banner_action a:hover img {
  scale: 110%;
}
/* END INSTALLMENT BANNER */

.installment_hdsg {
  background: #f8f8f8;
  padding: 40px 0 40px 0;
}
.installment_hdsg .hdsg_title {
  color: var(--primary-color);
  font-weight: bold;
}

.installment_hdsg .hdsg_condition {
  margin: 26px 0 30px 0;
  font-weight: bold;
}

.installment_hdsg p {
  font-size: 20px;
}

.group_content_hdsg {
  box-shadow: 3px 3px 3px 0px rgb(0 0 0 / 10%);
  background: #ffffff;
  margin-top: 60px;
  position: relative;
  padding: 30px;
  border-radius: 28px;
}

.group_content_hdsg .title_group_content {
  background: #eb2727;
  margin: 0;
  color: white;
  padding: 16px 10px;
  width: 50%;
  text-align: center;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  position: absolute;
  top: -67px;
  left: 0px;
}

.group_content_hdsg .group_content_img {
  width: 252px;
  height: 233px;
  position: absolute;
  right: 0;
  top: -160px;
}
.group_content_hdsg .group_content_img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.installment_hdsg .three_step_to_pay {
  display: flex;
  justify-content: center;
}
.installment_hdsg .three_step_to_pay .col {
  background: #f0f0f0;
  margin: 0 8px;
  padding: 40px 18px;
  border-radius: 26px;
}
.installment_hdsg .three_step_to_pay .col h4 {
  text-align: center;
  padding: 10px 0;
  width: 80%;
  border-radius: 12px;
  background: var(--primary-color);
  color: white;
}

.installment_hdsg .three_step_to_pay .col p {
  padding: 6px;
}

.group_section_3 {
  width: 80%;

  display: inline-block;
}

.group_section_3:hover img {
  scale: 110%;
}

.group_section_3 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.5s;
}

.all_banks .col a {
  width: 100%;
  height: 100%;
}

.all_banks .col a:hover img {
  scale: 110%;
}

.all_banks .col a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.4s;
}

/* END HDSAIGON SECTION */
.installment_mpos {
  background: white;
  padding: 40px 0;
}
.installment_mpos p {
  font-size: 18px;
}
.mpos_title {
  font-weight: 650;
  color: var(--primary-color);
}

.mpos_section {
  margin: 20px 0 28px 0;
  font-weight: bold;
}

.section_2_img {
  width: 100%;
  height: 100%;
}

.section_2_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.bank_list_img {
  width: 60%;
  height: 100%;
}

.bank_list_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* END MPOS SECTION */
/* END INSTALLMENT PAGE */

.delivery_header {
  background: #222222;
  color: white;
}

.delivery_header_logo-icon {
  background: #e5203f;
}

.delivery_header_logo-icon .row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
}

.delivery_logo {
  width: 60%;
  height: 60%;
}

.delivery_logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.delivery_hotline p,
.delivery_hotline h4 {
  margin: 0;
  font-weight: bold;
}

.delivery_hotline p {
  font-size: 14px;
}

.delivery_header_nav {
  display: flex;
  height: 100%;
  margin: 0;
}
.delivery_header_nav li {
  list-style: none;
  display: flex;
  align-items: center;
}

.delivery_header_nav li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  transition: 0.4s;
}

.delivery_header_nav li a:hover {
  scale: 110%;
}

.reset_padding {
  padding: 0px;
}
/* END DELIVERY HEADER */
.delivery_banner {
  width: 100%;
}
.delivery_banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* END BANNER DELIVERY */
.delivery_location {
  position: relative;
  padding: 30px 0;
}
.delivery_location::before {
  content: "";
  background: url(https://w.ladicdn.com/s700x1100/5bf3dc7edc60303c34e4991f/chinh-sach-giao-hang-20210128085147.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.05;
}
.delivery_location_title h1 {
  color: #e5203e;
}

.delivery_location_title h2 {
  font-weight: 400;
}
.delivery_location_city {
  margin-top: 40px;
}
.location_city {
  border: 2px solid #e5203e;
  margin: 0 10px;
  padding: 2px 4px;
}

.location_city h5 {
  text-align: center;
  color: white;
  background: #e5203e;
  padding: 16px;
  font-size: 24px;
  font-weight: bold;
}
.location_city p {
  font-weight: 400;
}

.dash_line {
  margin-top: 50px;
  border-bottom: 2px dashed #e5203e;
  width: 360px;
}
/* END DELIVER LOCATION*/

/* END DELIVERY URBAN  */
.delivery_urban {
  position: relative;
  padding: 30px 0;
}

.delivery_urban::before {
  content: "";
  background: url(https://w.ladicdn.com/s700x1100/5bf3dc7edc60303c34e4991f/chinh-sach-giao-hang-20210128085147.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.05;
}

.delivery_urban_title {
  width: 46%;
  margin-bottom: 50px;
}

.delivery_urban_title img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.delivery_urban_image {
  position: relative;
  height: 280px;
  max-height: 300px;
}

.delivery_urban_image::before {
  content: "";
  background: url(https://w.ladicdn.com/s1300x650/5bf3dc7edc60303c34e4991f/chinh-sach-giao-hang-18-20210129040901.png);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding: 40px 10px;
}

.delivery_urban_image img {
  position: absolute;
  left: 0;
  object-fit: contain;
  transition: 0.6s;
}
.delivery_urban_image:hover img {
  left: 480px;
  overflow: hidden;
}
.img_shipping img {
  margin: 10px;
}
/* END DELIVERY SUBURBAN  */
/* END DELIVERY PAGE */
.cart_section {
  background: white;
  padding: 30px 0;
}
.cart_section p {
  margin: 0px;
}
.cart_section h3 {
  text-align: center;
}

.cart_section table {
  width: 100%;
}

.cart_section table tr td,
.cart_section table tr th {
  border: 1px solid #f0f0f0;
  padding: 18px;
}

.cart_section table input {
  width: 65px;
  text-align: center;
  outline: unset;
}
.cart_section table a {
  text-decoration: none;
}

.cart_section table .product_name {
  font-size: 16px;
  font-weight: bold;
}

.cart_section table .product_name:hover {
  color: #ea1c00;
}

.cart_section table .delete_btn {
  color: black;
  font-size: 20px;
}

.cart_section table .delete_btn:hover {
  color: red;
}
.cart_section .total_price {
  font-weight: bold;
  font-size: 18px;
}

.cart_section .item_img {
  width: 100%;
  height: 100%;
}

.cart_section .item_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#cart_submit_btn {
  margin-top: 30px;
  display: flex;
}
#cart_submit_btn a {
  border: none;
  padding: 10px 50px;
  border-radius: 8px;
  background: #ed2f2c;
  color: white;
  transition: 0.2s;
  text-decoration: none;
}

#cart_submit_btn a:hover {
  background: rgb(197, 10, 6);
}
/* END CART PAGE */

.checkout_section {
  background: url(https://yt3.ggpht.com/ytc/AMLnZu8v9duJyRvU2yqidM2-zyJ6SozxBMoXHEehTp8=s900-c-k-c0x00ffffff-no-rj);
}
.form_checkout {
  width: 80%;
  border: 1px solid #cccccc;

  height: 100vh;
  padding: 20px;
  background: white;
}

.form_checkout h2 a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.checkout_btn {
  display: flex;
  justify-content: flex-end;
}

.checkout_btn a {
  text-decoration: none;
  margin: 0;
  font-size: 16px;
  margin-top: 10px;
  font-weight: 500;
  color: red;
}

.checkout_btn a:hover {
  color: rgb(17, 110, 176);
}
.checkout_btn button {
  border: unset;
  padding: 10px 30px;
  background: #ed2f2c;
  border-radius: 4px;
  color: white;
  transition: 0.2s;
  margin-left: 10px;
}

.checkout_btn button:hover {
  background: #cf1330;
}
/* END CHECKOUT PAGE */

.pagination {
  display: flex;
  align-items: center;
}

.pagination_list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.pagination_list li {
  border: 1px solid #cccccc;
  padding: 6px 12px;
  margin: 0 6px;
  border-radius: 2px;
}

.pagination_list li:hover {
  background: #f8e36e;
  color: black;
  cursor: pointer;
}

.pagination_list li a {
  text-decoration: none;
  font-weight: 400;
}

/* END PAGINATION */
.warranty_banner1 {
  position: relative;
  padding: 60px 0;
}

.warranty_banner1::after {
  content: "";
  background-image: url(https://w.ladicdn.com/s1440x290/5bf3dc7edc60303c34e4991f/bg-20201021091601.jpg);
  background-size: cover;
  position: absolute;

  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.28;
  z-index: -1;
}

.warranty_banner1 h2 {
  color: rgb(229, 32, 63);
  font-size: 38px;
  font-weight: 800;
  line-height: 1.6;
  margin: 0;
  position: relative;
  z-index: 2;
  font-family: "Oswald", sans-serif;
}

.warranty_banner1 h2 .yellow_square {
  position: absolute;
  width: 44px;
  height: 44px;
  top: -8px;
  left: -17.8884px;
  background: rgb(255, 226, 33);
  z-index: -1;
}

.warranty_banner1 h4 {
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

.warranty_img_col5 {
  position: relative;
}

.warranty_img {
  position: absolute;
  max-width: 400px;
  max-height: 380px;
}

.warranty_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.warranty_banner2 {
  position: relative;
  padding: 60px 0;
}

.warranty_banner2::after {
  content: "";
  background-image: url(https://w.ladicdn.com/s1440x929/5bf3dc7edc60303c34e4991f/chinhsachbaohanh-recovered-12-20201021100020.png);
  background-size: cover;
  position: absolute;

  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.16;
  z-index: -1;
}

.warranty_banner2 .warranty_step {
  max-width: 980px;
  max-height: 270px;
}

.warranty_banner2 .warranty_step img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.warranty_step:first-child {
  position: relative;
}

.warranty_step_img {
  max-width: 200px;
  max-height: 200px;
}

.warranty_step_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.warranty_action {
  position: absolute;
  bottom: 0;
  right: 40px;
}

.warranty_action .call_gear {
  max-width: 200px;
  max-height: 66px;
  display: inline-block;
  transition: 0.4s;
}

.warranty_action .call_gear:hover {
  scale: 110%;
}

.warranty_action .call_gear img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.warranty_banner3 {
  background-color: #e5203f;
  color: white;
  padding: 18px 0;
}

.warranty_banner3 h3 {
  font-family: "Oswald", sans-serif;
  text-decoration: underline;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.6;
}

/* END WARRANTY PAGE */
.user_menu {
  background: rgb(242, 228, 228);
  padding: 30px 0 120px 0;
  color: #3d5376;
  font-family: "Oswald", sans-serif;
  word-spacing: 3px;
}

.user_menu h1 {
  font-size: 40px;
}

.account_user_page,
.logout,
.order_user_page {
  max-width: 280px;
  height: 320px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  background: white;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: 0.4s;
}

.account_user_page:hover,
.logout:hover,
.order_user_page:hover {
  scale: 103%;
}

.account_user_page .icon_user,
.logout .icon_user,
.order_user_page .icon_user {
  width: 140px;
  height: 140px;
  font-size: 140px;
  margin-bottom: 60px;
}

.account_user_page a,
.logout a,
.order_user_page a {
  text-decoration: none;
  font-size: 20px;
  margin-top: 40px;
  color: green;
}

.account_user_page a:hover,
.logout a:hover,
.order_user_page a:hover {
  color: rgb(17, 110, 176);
}
/* END USER PAGE */
.account_setting_section {
  padding: 30px 50px;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin: 20px auto;
  max-width: 600px;
  background: white;
}

.avatar_user {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.avatar_user img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
}
label {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  color: #777;
  padding-left: 3px;
}

.form-control {
  border-radius: 10px;
}

input[placeholder] {
  font-weight: 500;
}
.form-control:focus {
  box-shadow: none;
  border: 1.5px solid #0779e4;
}
select {
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 40px;
  padding: 5px 10px;
  /* -webkit-appearance: none; */
}

select:focus {
  outline: none;
}
.button {
  background-color: #fff;
  color: #0779e4;
}
.button:hover {
  background-color: #0779e4 !important;
  color: #fff !important;
}

.btn-primary {
  background-color: #0779e4;
}
.dangerbtn {
  background-color: #fff;
  color: #e20404;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  transition: 0.4s;
}
.dangerbtn:hover {
  background-color: #e20404;
  color: #fff;
}
@media (max-width: 576px) {
  .wrapper {
    padding: 25px 20px;
  }
  #deactivate {
    line-height: 18px;
  }
}

.user_order_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* END USER ACCOUNT INFO */
.header_responsive {
  display: none;
}

@media screen and (max-width: 600px) {
  .header_responsive {
    display: block;
    background: #f1f0f1;
    padding: 20px;
  }

  .header_responsive a {
    display: inline;
  }

  .header_navigation {
    display: none;
  }
}

@media screen and (max-width: 790px) {
  .action__contact {
    display: none;
  }
  .warranty_action {
    max-width: 242px;
    max-height: 66px;
    display: inline-block;
    transition: 0.4s;
    position: fixed;
    bottom: 80px;
    right: 0;
    z-index: 999;
  }
}
