<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ADMIN PAGE</title>
    <!-- Boxicon link -->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- icon page -->
    <link
      rel="icon"
      href="https://file.hstatic.net/1000026716/file/favicon_0db2583fad1443e482491c7db08765e6.png"
      type="image/x-icon"
    />
    <!-- css link -->
    <link rel="stylesheet" th:href="@{/css/seller_style.css}" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>

    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="sidebar close">
      <div class="logo-details">
        <i class="bx bx-laptop"></i>
        <span class="logo_name">GEARVN</span>
      </div>
      <ul class="nav-links">
        <li>
          <a th:href="@{/seller/dashboard}">
            <i class="bx bx-grid-alt"></i>
            <span class="link_name">Dashboard</span>
          </a>
        </li>
        <li>
          <div class="iocn-link">
            <a href="#">
              <i class="bx bxs-box"></i>
              <span class="link_name">Products</span>
            </a>
            <i class="bx bxs-chevron-down arrow"></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">Products</a></li>
            <li><a th:href="@{menu_add}">Create product</a></li>
            <li><a th:href="@{menu_list_product}">Product management</a></li>
          </ul>
        </li>
        <li>
          <a th:href="@{order}">
            <i class="bx bxs-cart-alt"></i>
            <span class="link_name">Orders</span>
          </a>
          <ul class="sub-menu blank">
            <li>
              <a class="link_name" th:href="@{order}">Orders</a>
            </li>
          </ul>
        </li>
        <li>
          <a th:href="@{/seller/customer}">
            <i class="bx bxs-user"></i>
            <span class="link_name">Customers</span>
          </a>
          <ul class="sub-menu blank">
            <li>
              <a class="link_name" th:href="@{/seller/customer}">Customers</a>
            </li>
          </ul>
        </li>
        <li>
          <a th:href="@{setting}">
            <i class="bx bx-cog"></i>
            <span class="link_name">Setting</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" th:href="@{setting}">Setting</a></li>
          </ul>
        </li>
        <li>
          <div class="profile-details">
            <div class="profile-content">
              <!--<img src="image/profile.jpg" alt="profileImg">-->
            </div>
            <div class="name-job">
              <div class="job">Design By</div>
              <div class="profile_name">@GEARVN.COM</div>
            </div>
            <a th:href="@{/logout}"><i class="bx bx-log-out"></i></a>
          </div>
        </li>
      </ul>
    </div>
    <section
      class="home-section"
      style="padding-bottom: 20px; background: white"
    >
      <div class="home-content">
        <i class="bx bx-menu"></i>
        <span class="text">Danh sách sản phẩm</span>
      </div>
      <div class="menu_adding">
        <div class="row text-center">
          <h5 class="create_card_title">
            <i class="bx bx-laptop"></i> Máy tính và màn hình
          </h5>
          <div class="col">
            <div class="create_card">
              <div class="create_card_img">
                <img
                  src="https://product.hstatic.net/1000026716/product/laptop-gaming-msi-raider-ge76-12uhs-480vn-3_f4a28c54a1f34ee0a03dc517633730bd.jpg"
                  alt=""
                />
              </div>
              <div class="create_card_btn">
                <a th:href="@{/seller/LaptopsPage}">Xem laptop</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="create_card">
              <div class="create_card_img">
                <img
                  src="https://product.hstatic.net/1000026716/product/gearvn-gvn-viper-plus-i3060-white-edition-1_63bdb32aa0c94433b786ac0a8bf0156d.jpg"
                  alt=""
                />
              </div>
              <div class="create_card_btn">
                <a th:href="@{/seller/PcsPage}">Xem PC</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="create_card">
              <div class="create_card_img">
                <img
                  src="https://product.hstatic.net/1000026716/product/tai_xuong__2__48c90459ba4f4c5c8a750cf7cee1ce08.png"
                  alt=""
                />
              </div>
              <div class="create_card_btn">
                <a th:href="@{/seller/ScreensPage}">Xem màn hình</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <h5 class="create_card_title">
            <i class="bx bx-mouse-alt"></i>Linh kiện
          </h5>
          <div class="col">
            <div class="create_card">
              <div class="create_card_img">
                <img
                  src="https://product.hstatic.net/1000026716/product/gearvn-chuot-steelseries-rival5-1_e2f4f1d8a4b94724ba71e776e2f0cefd.jpg"
                  alt=""
                />
              </div>
              <div class="create_card_btn">
                <a th:href="@{/seller/MousesPage}">Xem chuột máy tính</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="create_card">
              <div class="create_card_img">
                <img
                  src="https://product.hstatic.net/1000026716/product/gearvn-ban-phim-razer-blackwidow-v3-green-switch-quartz_8c2ef0c9f56942ea98058f1ec73529b6.jpg"
                  alt=""
                />
              </div>
              <div class="create_card_btn">
                <a th:href="@{/seller/KeyBoardsPage}">Xem bàn phím</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="create_card">
              <div class="create_card_img">
                <img
                  src="https://product.hstatic.net/1000026716/product/gearvn-tai-nghe-razer-kraken-bt-kitty-edition-quartz-666_db790cca44f042a5a47afd4913c65868.jpg"
                  alt=""
                />
              </div>
              <div class="create_card_btn">
                <a th:href="@{/seller/HeadPhonesPage}">Xem tai nghe</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <h5 class="create_card_title">
            <i class="bx bxs-joystick"></i>Phụ kiện gaming và Gear
          </h5>
          <div class="col">
            <div class="create_card">
              <div class="create_card_img">
                <img
                  src="https://product.hstatic.net/1000026716/product/h732_57772661e13a4be68966b83cf227e7a1.png"
                  alt=""
                />
              </div>
              <div class="create_card_btn">
                <a th:href="@{/seller/GamingHandlesPage}">Xem tay cầm</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="create_card">
              <div class="create_card_img">
                <img
                  src="https://product.hstatic.net/1000026716/product/gearvn_cougar_armor.png"
                  alt=""
                />
              </div>
              <div class="create_card_btn">
                <a th:href="@{/seller/GamingChairsPage}">Xem ghế gaming</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      let arrow = document.querySelectorAll(".arrow");
      for (var i = 0; i < arrow.length; i++) {
        arrow[i].addEventListener("click", (e) => {
          let arrowParent = e.target.parentElement.parentElement; //selecting main parent of arrow
          arrowParent.classList.toggle("showMenu");
        });
      }
      let sidebar = document.querySelector(".sidebar");
      let sidebarBtn = document.querySelector(".bx-menu");
      console.log(sidebarBtn);
      sidebarBtn.addEventListener("click", () => {
        sidebar.classList.toggle("close");
      });
    </script>
  </body>
</html>
